<!-- _announcement.cshtml -->

<div id="page-banner">
  <div id="page-banner_header">Join me for live Blazor coding!</div>
  <div id="page-banner_body">
    <a href="https://www.twitch.tv/mrpeterlmorris/schedule?seriesID=2a667d82-38aa-4aac-9909-b0e7682236a8">Wednesday at 6pm (UK Time) on Twitch.Tv</a>
  </div>
</div>
